.dropdown:hover .dropdown-menu {display: block;}
.newsInformations{}
li{text-align: left;color: black;margin-bottom: 0.3rem;}
h6{font-weight: bold;border-bottom:solid;border-bottom-color: #ffbb3373;width: max-content;border-bottom-width: 2px;}
